.chat_main
  .chat_main__group-info
    .room-info
      .room-info__room-name
        = @group.name
      .room-info__room-member
        Member :
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group.id), class: "edit-btn" do
      Edit
  .chat_main__messages-list
    = render @messages

  .chat_main__message-form
    = form_for [@group, @message] do |f|
      .chat-form-wrapper
        = f.text_field :content, class: 'chat-form__box', placeholder: 'type a message'
        .chat-form__image
          = f.label :image, class: 'input-box__image' do
            .far.fa-image
            = f.file_field :image
      = f.submit 'Send', class: 'chat-form__send-btn'