.side_bar
  .side_bar__user
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path do
          = icon('fas', 'pen-square', class: 'top-items__icons--setting')
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog', class: 'top-items__icons--setting')

  .side_bar__group    
    - current_user.groups.each do |group|
      .group-space
        = link_to "#", class: "group-space" do
          .group-space__name
            = group.name
          .group-space__status
            まだメッセージがありません
      